* {
    margin: 0;
    padding: 0;
}

#content {
    background: url(imgs/pexels-pixabay-47306.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 11fr 1fr;
}

header,
section,
footer {
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    opacity: 65%;
    background-color: black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    opacity: 65%;
    background-color: black;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: black;
    padding: 150px 200px;
    opacity: 65%;
    font-size: 20px;
    font-weight: 500;
}